extends ../main



block title
    | Test

block content
    header.header
        h1.header__title ДЕНЬ В ФОТО
        .horizontal-line

    article.content
        .content__face
            img.content__face-img
            .content__date-block
                h3.content__date 21
                span.content__month сентября

    .photo
        ul.photo__list
            - for (var i = 0; i < 6; i++)
                li.photo__item
                    a(src="#").photo__link
                        img.photo__img
        .adv-wrap
            a.adv__link.adv__link-img
                img.adv
            a.adv__link.adv__link-text
                .adv__content
                    .adv__name Рекламный тизер
                    h5.adv__title Театральная паутина
                    p.adv__desc Открытие новых сервисных центров немецкого автопрома
        ul.photo__list
            li.photo__date
                a(src="#").photo__link
                    h4 20
                    span сентября
                .photo__arrow
                - for (var i = 0; i < 5; i++)
                    li.photo__item
                        a(src="#").photo__link
                            img.photo__img
            li.photo__date
                a(src="#").photo__link
                    h4 19
                    span сентября
                .photo__arrow
            - for (var i = 0; i < 6; i++)
                li.photo__item
                    img.photo__img
    footer.footer
        .pagination
            span.pagination__pages Страницы:
            ul.pagination__list
                - for(var i = 1; i < 5; i++)
                    if (i!=1)
                        li.pagination__item
                            a(href="#").pagination__link=i
                    else
                        li.pagination__item.pagination__item-active
                            a(href="#").pagination__link=i

                li.pagination__item.pagination__item-next
                    a(href="#").pagination__link Следующая