extends ../main



block title
    | Test

block content
    header.header
        h1.header__title ДЕНЬ В ФОТО
        .horizontal-line

    article.content
        .content__face
            a(href="#").content__face-img
            .content__remark
                .content__description Мельницы маленькой деревушки Brandmill близи курортного австрийского города Mayerhoffen.
                .content__autor Фото: Reuters
            .content__date-block
                h3.content__date 21
                span.content__month сентября

    .photo
        .adv-middle
            a(href="#").adv-middle__link
                .adv-middle__link-img

        // small and middle block
        ul.photo__list.photo__list-cur
            - for (var i = 0; i < 6; i++)
                li.photo__item
                    a(href="#").photo__link
                        img.photo__img
        .adv-small
            a(href="#").adv__link.adv__link-img
                img.adv__img
            a(href="#").adv__link.adv__link-text
                .adv__content
                    .adv__name Рекламный тизер
                    h5.adv__title Театральная паутина
                    p.adv__desc Открытие новых сервисных центров немецкого автопрома
        ul.photo__list.photo__list-first
            li.photo__date
                a(href="#").photo__link
                    h4 20
                    span сентября
                .photo__arrow
                - for (var i = 0; i < 6; i++)
                    li.photo__item
                        a(href="#").photo__link
                            img.photo__img
            li.photo__date
                a(href="#").photo__link
                    h4 19
                    span сентября
                .photo__arrow
            - for (var i = 0; i < 6; i++)
                li.photo__item
                    img.photo__img
            li.photo__date.photo__item-hidden
                a(href="#").photo__link
                    h4 18
                    span сентября
                .photo__arrow
            - for (var i = 0; i < 3; i++)
                li.photo__item.photo__item-hidden
                    img.photo__img
            li.photo__date.photo__item-hidden
                a(href="#").photo__link
                    h4 17
                    span сентября
                .photo__arrow
            - for (var i = 0; i < 1; i++)
                li.photo__item.photo__item-hidden
                    a(href="#").photo__link
                        img.photo__img


        // big block
        ul.photo__list.photo__list-big
            - for (var i = 0; i < 4; i++)
                li.photo__item
                    a(href="#").photo__link
                        img.photo__img
            li.photo__date
                a(src="#").photo__link
                    h4 20
                    span сентября
                .photo__arrow

            - for (var i = 0; i < 5; i++)
                li.photo__item
                    a(href="#").photo__link
                        img.photo__img
            li.photo__date
                a(href="#").photo__link
                    h4 19
                    span сентября
                .photo__arrow

            - for (var i = 0; i < 4; i++)
                li.photo__item
                    a(href="#").photo__link.photo__img link
            .adv-big
                a.adv-big__link
                    .adv-big__link-img
            li.photo__date.photo__item-hidden
                a(href="#").photo__link
                    h4 18
                    span сентября
                .photo__arrow
            - for (var i = 0; i < 5; i++)
                li.photo__item.photo__item-hidden
                    a(href="#").photo__link
                        img.photo__img
            li.photo__date.photo__item-hidden
                a(href="#").photo__link
                    h4 17
                    span сентября
                .photo__arrow
            - for (var i = 0; i < 4; i++)
                li.photo__item.photo__item-hidden
                    a(href="#").photo__link
                        img.photo__img


    footer.footer
        .pagination
            span.pagination__pages Страницы:
            ul.pagination__list
                - for(var i = 1; i < 5; i++)
                    if (i!=1)
                        li.pagination__item
                            a(href="#").pagination__link=i
                    else
                        li.pagination__item.pagination__item-active
                            a(href="#").pagination__link=i

                li.pagination__item.pagination__item-next
                    a(href="#").pagination__link Следующая