extends ../main



block title
    | Test

block content
    header.header
        h1.header__title ДЕНЬ В ФОТО
        .horizontal-line

    article.content
        .content__face-img
            .content__cur-data 21 сентября
        ul.content__cur-list
            - for (var i = 0; i < 5; i++)
                li.content__cur-item
                    img.content__cur-img
    .advert-wrap
        img(src="img/main/main320.png").advert
    .photo

        ul.photo__list
            li.photo__data
                h4 20 сентября
            - for (var i = 0; i < 5; i++)
                li.photo__item
                    img.photo__img

        ul.photo__list
            li.photo__data
                h4 20 сентября
            - for (var i = 0; i < 6; i++)
                li.photo__item
                    img.photo__img
    footer.footer
        .pagination
            ul.pagination__list
                - for(var i = 1; i < 4; i++)
                    li.pagination__item
                        a(href="#").pagination__link=i

                li.pagination__item.pagination__item-next
                    a(href="#").pagination__link Следующая