extends ../main

block title
    | Test

block content
    header.header
        h1.header__title ДЕНЬ В ФОТО
        .horizontal-line

    article.content
        .content__face-img
            .content__cur-data 21 сентября
        ul.content__cur-list
            - for (var i = 0; i < 5; i++)
            li.content__cur-item
    .advert
    .photo
        .photo__data
        ul.photo__list
            - for (var i = 0; i < 5; i++)
            li.photo__img__item
                img.photo__img
        .photo__data
        ul.photo__list
            - for (var i = 0; i < 5; i++)
            li.photo__img__item
                img.photo__img
    footer.footer
        .pagination
            ul.pagination__list
                - for(var i = 0; i < 3; i++)
                li.pagination__item
                    a(href="#").pagination__link
                        .pagination__mark =i
                li.pagination__item.pagination__item-next
                    a(href="#").pagination__link
                        .pagination__mark Следующая
