@media (min-width: 320px) and (max-width: 479px) {
  .wrapper {
    padding: 5px;
    padding-right: 7px;
    background: #ffffff;
  }
  .header {
    width: 100%;
    margin-bottom: 10px;
    @include clearfix();

    &__title {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 26px;
      font-family: $playfair-reg;

    }
    .horizontal-line {
      float: right;
      width: 38%;
      height: 2px;
      background: #000000;
      margin-top: 26px;
    }
  }
  .content {
    min-width: 310px;
    min-height: 200px;
    &__face{
      position: relative;
    }
    &__face-img {
      display: inline-block;
      position: relative;
      height: 203px;
      width: 100%;
      background-image: url("../img/main/main320.png");
      background-size: cover;
      background-repeat: no-repeat;

    }
    &__date-block{
      position: absolute;
      width: 19%;
      height: 19%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      color: #000000;
      background: #ffffff;
      opacity: 0.8;
      margin: 7px;
      padding:7px 10px;
      text-align: center;
      display: inline-block;
    }
    &__date {
      text-align: center;

      font-size: 18px;
      line-height:20px;
      margin-bottom:-2px;
    }
    &__month{
      font-size:14px;
      text-align: center;
      margin-left: -2px;
    }
    &__cur-img {
      display: inline-block;
      @include sprite($s320);
    }
    .content__remark{
      display:none;
    }
  }
  .adv {
    &__img {
      float: left;
      width: 100px;
      height: 80px;
      -webkit-background-size: 159%;
      background-size: 159%;
      background-position-x: -4px;
      background-position-y: -49px;
      background-image: url("../img/main/adv320.png");
    }
    &__link-img{
      display: inline-block;
      float: left;
    }
    &__link-text{
      float: right;
      display: inline-block;
      width: 65%;
      color: #000000;
    }

    &-small {
      width: 100%;
      height: 80px;
      overflow: hidden;
      position: relative;
      display: block;
      margin-bottom: 9px;
      overflow: hidden;
      background-color: #FFFBD1;
    }
    &-middle{
      display:none;
    }
    &__content{
      width: 100%;
      height: 80px;
      display: inline-block;
      font-family:$noto-sans-r;
      font-size:12px;
      float: left;

    }
    &__name{
      color: #bebebe;
      font-size:10px;
      display: block;
      padding-left: 10px;
      padding-top: 6px;
    }
    &__title{
      display: inline-block;
      padding-left: 10px;
      padding-top: 1px;
      font-size: 14px;
    }
    &__desc{
      padding-left: 10px;
    }
  }
  .photo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    &__list {
      width: 102%;
      position: relative;
      display: block;
      margin-left: -5px;
      margin-right: 0;
      margin-bottom: 3px;
      font-size:0;

      &-big{
        display: none;
      }
    }
    &__link{
      width: 100%;
      height: 100%;
      display: block;
      color: #000;

      & h4{
        height:21px;
      }
    }

    &__date {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 6px;
      margin-bottom: 7px;
      width: 73px;
      height: 48px;
      position: relative;
      overflow: hidden;
      padding: 5px 5px 0 0px;
      text-align: center;
      font-size:12px;

    }
    &__arrow{
      float: right;
      @include sprite($arrow);
      margin-top: -32px;
      margin-right: 4px;
    }
    &__item {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 6px;
      margin-bottom: 6px;
      position: relative;
      overflow: hidden;
      &-hidden{
        display:none;
      }
      &:nth-child(7){
        display: none;
      }
    }


    &__img {
      display: inline-block;
      @include sprite($r320);
    }
  }
  .pagination{
    display: block;
    width: 100%;
    &__pages{
      display: none;
    }
    &__list{
      display: block;
      text-align:left;

    }
    &__item{
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      padding-top: 7px;
      padding-left: 1px;
      box-sizing: border-box;
      &-active{
        background: #e6e6e6;
        opacity: 0,302;
        border-radius: 50%;
        width: 33px;
        height: 33px;
      }
      &-next{
        width: 33%;
        padding-left: 21px;
      }
    }
    &__link{
      color: #000000;
      display: block;
      font-size: 14px;
      width: 100%;
      height: 100%;
    }
  }
}