@media (min-width: 320px) and (max-width: 479px) {
  .wrapper {
    padding: 5px;
    background: #ffffff;
  }

  .header {
    width: 100%;
    margin-bottom: 10px;
    @include clearfix();

    &__title {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 26px;
      font-family: $playfair-reg;

    }
    .horizontal-line {
      float: right;
      width: 38%;
      height: 2px;
      background: #000000;
      margin-top: 26px;
    }
  }

  .content {
    min-width: 310px;
    min-height: 200px;
    &__face{
      position: relative;
    }
    &__face-img {
      display: inline-block;
      position: relative;
      height: 203px;
      width: 100%;
      background-image: url("../img/main/main320.png");
      background-size: cover;
      background-repeat: no-repeat;

    }
    &__date-block{
      position: absolute;
      width: 19%;
      height: 19%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      color: #000000;
      background: #ffffff;
      opacity: 0.8;
      margin: 7px;
      padding:7px 10px;
      text-align: center;
      //-webkit-box-sizing: border-box;
      //-moz-box-sizing: border-box;
      //box-sizing: border-box;
      display: inline-block;
    }
    &__date {
      text-align: center;
      font-family: $noto-sans-r;
      font-size: 18px;
      line-height:20px;
      margin-bottom:-2px;
    }
    &__month{
      font-size:14px;
      text-align: center;
      margin-left: -2px;
    }
    &__cur-img {
      display: inline-block;
      @include sprite($s320);
    }
  }
  .adv {

    &__link{
      float: left;
      display: block;
    }

    &-wrap {
      width: 100%;
      height: 80px;
      overflow: hidden;
      position: relative;
      display: block;
      margin-bottom: 4%;
      overflow: hidden;
    }
    float: left;
    width: 100px;
    height: 80px;
    -webkit-background-size: 100%;
    background-size: 138%;
    background-position-x: -5px;
    background-position-y: -43px;
    background-image: url("../img/main/adv320.png");
    &__content{
      width: 67%;
      display: inline-block;
      font-family:$noto-sans-r;
      font-size:12px;
      float: left;
    }
    &__name{
      color: #bebebe;
      font-size:10px;
      display: block;
    }
    &__title{
      display: inline-block;

    }

  }

  .photo {
    width: 100%;
    overflow: hidden;

    &__list {
      width: 102%;
      position: relative;
      display: block;
      margin-left: -5px;
      margin-right: 0;
      font-size:0;
    }
    &__link{
      width: 100%;
      height: 100%;
      display: block;
    }

    &__date {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 2%;
      margin-bottom: 3%;
      width: 73px;
      height: 48px;
      position: relative;
      overflow: hidden;
      padding:0 5px;
      text-align: center;
      background: lightgrey;
      font-size:12px;

    }
    &__arrow{
      float: right;
      @include sprite($arrow);
    }
    &__item {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 6px;
      margin-bottom: 5px;
      position: relative;
      overflow: hidden;
    }
    &__img {
      display: inline-block;
      @include sprite($r320);
    }
  }
  .pagination{
    display: block;
    width: 100%;
    &__pages{
      display: none;
    }
    &__list{
      display: block;
      text-align:left;

    }
    &__item{
      display: inline-block;
      height: 34px;
      width: 34px;
      text-align: center;
      padding-top: 6px;
      box-sizing: border-box;
      &-active{
        background: #e6e6e6;
        opacity: 0,302;
        border-radius: 50%;
        width: 34px;
        height: 34px;
      }
      &-next{
        width: 30%;
      }
    }
    &__link{
      color: #000000;
      display: block;

    }
  }
}