@media (min-width: 320px) and (max-width: 479px) {
  .wrapper{
    padding: 5px;
    background: #ffffff;
    }
  .header{
    width: 100%;
    @include clearfix();

    &__title{
      float: left;
      margin: 0;
      padding: 0;
      font-size: 26px;
      font-family: $playfair-reg;

    }
    .horizontal-line{
      float: right;
      width: 44%;
      height: 2px;
      background: #000000;
      margin-top: 26px;
    }
  }


  .content{
    min-width: 310px;
    min-height: 200px;
    &__face-img{
      display: inline-block;
      height: 200px;
      width: 100%;
      background-image: url("../img/main/main320.png");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &__cur-data{
      color: #000000;
      background: #ffffff;
      opacity: 0.8;
      margin: 7px;
      display: inline-block;
      width: 30%;
      text-align: center;
      font-family: $noto-sans-r;
      font-size:18px;
    }
    &__cur-list{
      display: block;
      width: 100%;
    }
    &__cur-item{
      display: inline-block;
      width: 30%;
      //-webkit-background-size:100%;
     // background-size:100%;
     // background-repeat:no-repeat;
      @include sprite($a-1-);
    }
  }
}