@media (min-width: 320px) and (max-width: 479px) {
  .wrapper {
    padding: 5px;
    background: #ffffff;
  }
  .header {
    width: 100%;
    @include clearfix();

    &__title {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 26px;
      font-family: $playfair-reg;

    }
    .horizontal-line {
      float: right;
      width: 44%;
      height: 2px;
      background: #000000;
      margin-top: 26px;
    }
  }

  .content {
    min-width: 310px;
    min-height: 200px;
    &__face{
      position: relative;
    }
    &__face-img {
      display: inline-block;
      position: relative;
      height: 200px;
      width: 100%;
      background-image: url("../img/main/main320.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 10px;
    }
    &__date-block{
      position: absolute;
      width: 10%;
      height: 10%;

    }
    &__date {
      color: #000000;
      background: #ffffff;
      opacity: 0.8;
      margin: 7px;
      padding:7px 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      width: 30%;
      height: 30%;
      text-align: center;
      font-family: $noto-sans-r;
      font-size: 18px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &__cur-list {
      display: block;
      width: 100%;
      margin-left: -2%;

    }
    &__cur-item {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 2%;
      margin-bottom: 2%;
      width: 22%;
      height: 22%;
      position: relative;
      overflow: hidden;
    }
    &__cur-img {
      display: inline-block;
      @include sprite($s320);
    }
  }
  .adv {
    &-wrap {
      width: 100%;
      height: 90px;
      overflow: hidden;
      position: relative;
      display: block;
      margin-bottom: 4%;
    }
    width: 100px;
    height: 80px;
    -webkit-background-size:100%;
    background-size:100%;
    background-image: url("../img/main/adv320.png");
    &__content{
      width: 220px;
      display: inline-block;
      font-family:$noto-sans-r;
      font-size:12px;
    }
    &__title{
      color: #bebebe;
      font-size:10px;

    }

  }

  .photo {
    width: 100%;
    overflow: hidden;
    &__data {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 2%;
      margin-bottom: 2%;
      width: 30%;
      height: 30%;
      position: relative;
      overflow: hidden;
      padding:0 5px;
    }
    &__list {
      width: 100%;
      position: relative;
      display: block;
    }
    &__item {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 2%;
      margin-bottom: 2%;
      width: 26%;
      height: 30%;
      position: relative;
      overflow: hidden;
    }
    &__img {
      display: inline-block;
      @include sprite($r320);
    }
  }
  .pagination{
    display: block;
    width: 100%;
    &__pages{
      display: none;
    }
    &__list{
      display: block;
      text-align:left;

    }
    &__item{
      display: inline-block;
      height: 50px;
      width: 50px;
      text-align: center;
      padding-top: 3%;
      box-sizing: border-box;
      &-active{
        background: #e6e6e6;
        opacity: 0,8;
        border-radius: 50%;
      }
      &-next{
        width: 30%;
      }
    }
    &__link{
      color: #000000;
      display: block;

    }
  }
}