@media (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    padding: 20px 3px 0px 20px;
    background: #ffffff;
  }
  .header {
    width: 100%;
    @include clearfix();
    margin-bottom: 18px;
    &__title {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 40px;
      font-family: $playfair-reg;

    }
    .horizontal-line {
      float: right;
      width: 36%;
      height: 2px;
      background: #000000;
      margin-top: 42px;
    }
  }
  .content {
    min-width: 310px;
    min-height: 200px;
    margin-bottom: 5px;
    &__face{
      position: relative;
    }
    &__face-img {
      display: inline-block;
      position: relative;
      height: 287px;
      width: 100%;
      background-image: url("../img/main/main480.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__date-block{
      position: absolute;
      width: 14%;
      height: 14%;
      top: 3px;
      bottom: 0;
      left: 3px;
      right: 0;
      overflow: hidden;
      color: #000000;
      background: #ffffff;
      opacity: 0.8;
      margin: 7px;
      padding:7px 10px;
      text-align: center;
      display: inline-block;
    }
    &__date {
      text-align: center;
      font-size: 18px;
      line-height:20px;
      margin-bottom:-2px;
    }
    &__month{
      font-size:14px;
      text-align: center;
      margin-left: -2px;
    }
    &__cur-img {
      display: inline-block;
      @include sprite($s320);
    }
    .content__remark{
      display:none;
    }
  }
  .adv {
    &-small{
      display:none;
    }
    &-middle{
      float: right;


      &__link-img{
        display: inline-block;
        @include sprite($adv480);
      }
    }

    &-big{
      display: none;

    }

    &__link-text{
      display: none;
    }
  }
  .photo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    &__list {
      width: 104%;
      position: relative;
      display: block;
      margin-left: -10px;
      margin-right: 0;
      font-size:0;

      &-big{
        display:none;
      }
    }
    &__link{
      width: 100%;
      height: 100%;
      display: block;
      color: #000;

      & h4{
        height:21px;
        font-family:$n-serif-r;
      }
      & span{
        font-family:$n-serif-r;
      }
    }

    &__date {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 10px;
      margin-bottom: 11px;
      width: 80px;
      height: 49px;
      position: relative;
      overflow: hidden;
      padding: 2px 6px 6px 6px;
      text-align: center;
      font-size: 12px;

    }
    &__arrow{
      float: right;
      @include sprite($arrow);
      margin-top: -30px;
      margin-right: 4px;
    }
    &__item {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 10px;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
    }
    &__img {
      display: inline-block;
      @include sprite($l480);
    }
  }
  .pagination{
    display: block;
    width: 100%;
    &__pages{
      display: inline-block;
      color: #a5a5a5;
      font-size: 13px;
    }
    &__list{
      display: inline-block;
      text-align:left;
      margin-left: 13px;
      width: 78%;
      font-size: 13px;
    }
    &__item{
      display: inline-block;
      height: 34px;
      width: 34px;
      text-align: center;
      padding-top: 2%;
      box-sizing: border-box;
      margin-left: 7px;
      &-active{
        background: #e6e6e6;
        opacity: 0,8;
        border-radius: 50%;
      }
      &-next{
        width: 30%;
        font-size: 13px;
      }
    }
    &__link{
      color: #000000;
      display: block;
    }
  }


}