@media (min-width: 320px) and (max-width: 479px) {
  .wrapper{
    padding: 5px;
    background: red;
    }
  .header{
    width: 100%;
    @include clearfix();

    &__title{
      float: left;
      margin: 0;
      padding: 0;
      font-size: 26px;
      font-family: $playfair-reg;

    }
    .horizontal-line{
      float: right;
      width: 45%;
      height: 2px;
      background: #000000;
      margin-top: 26px;
    }
  }

  
  .content{
    width: 100%;
    &__face-img{
      height: 200px;
    }
  }
}